<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>cleiton.unisul.piweb.rpc.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/sentinela/greet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/sentinela/cleiton.unisul.piweb.rpc.ClassesRPC/greet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/sentinela/cleiton.unisul.piweb.Painel.Painel/greet</url-pattern>
  </servlet-mapping>
    
    <servlet>
    <servlet-name>armazenamento</servlet-name>
    <servlet-class>cleiton.unisul.piweb.rpc.server.ArmazenamentoImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>armazenamento</servlet-name>
    <url-pattern>/sentinela/armazenamento</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>armazenamento</servlet-name>
    <url-pattern>cleiton.unisul.piweb.rpc.ClassesRPC/armazenamento</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SENTINELA.html</welcome-file>
  </welcome-file-list>

  
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
</servlet>
  
  
   <servlet-mapping>   
    <servlet-name>default</servlet-name>
    <url-pattern>/painelInicio.html</url-pattern>  
  </servlet-mapping>
  

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>




</web-app>